.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footerContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}

.footerLinkItem {
  font-size: 1.5rem;
  margin: 5px 0;
  font-weight: 700;
}

.footerLinkIcon {
  margin-right: 5px;
}

.textBody {
  font-size: 2rem;
  margin: 20px 0;
  text-align: left;
}
